doctype 5
html
    head
        title= title
        meta(charset="UTF-8")
        link(rel='stylesheet', href='/css/vendor.css')
        link(rel='stylesheet', href='/css/style.css')
    body
        header#header
        div#container
            section.page-content
        footer#footer
            | Copyright 2013

        script(data-main="js/main", src="js/libs/require.js")


