div.navbar.navbar-fixed-top
    div.navbar-inner
        div.container
            a.brand(href="#/home") Home
            div
                ul.nav
                    li.home-menu
                        a(href="#/home") Home
                    li.list-menu
                        a(href="#/clients") List clients
                    li.new-menu
                        a(href="#/clients/new") Add client
                    li.new-menu2
                        a(href="#/login") Login
                    li.new-menu3
                        a(href="#/register") Register
                    li.new-menu4
                        a(href="#/logout") Logout
                img.ajax-loader(src="img/ajax-loader.gif", alt="Loading...")

