div.hero-unit
    h1 Demo App
    p This is a sample application built with Backbone, RequireJS, Twitter Bootstrap (frontend) and Node.js, Express.js, Mongoose (backend).

div.row
    div.span6
        h2 Download
        p The source code for this application is <a href="demo.zip">here</a>. </p>
    div.span6
        h2 Running application
        p Requirements: Node.js and NPM.
        p Run "npm install ." on the command line to install the dependencies.

